release/App_WebReferences/dsOilmap/ds.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="dsOILMAP" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="dsOILMAP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br /&gt;&lt;b&gt;Date: 2010-11-22&lt;/b&gt;&lt;br /&gt;&lt;b&gt;Version: 0.1.0.5&lt;/b&gt;&lt;br /&gt;&lt;b&gt;ASA Data Services for Oil Map&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;The following methods provide data services for web clients. &lt;br /&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="dsOILMAP">
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionDate">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScenariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenariosByLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenariosByLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScenariosByLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Sid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScenarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteScenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Sid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Oid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteScenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteScenarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateScenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Inputxml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateScenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateScenarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionDate" />
  </wsdl:message>
  <wsdl:message name="GetVersionDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetScenariosSoapIn">
    <wsdl:part name="parameters" element="tns:GetScenarios" />
  </wsdl:message>
  <wsdl:message name="GetScenariosSoapOut">
    <wsdl:part name="parameters" element="tns:GetScenariosResponse" />
  </wsdl:message>
  <wsdl:message name="GetScenariosByLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetScenariosByLocation" />
  </wsdl:message>
  <wsdl:message name="GetScenariosByLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetScenariosByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetScenarioSoapIn">
    <wsdl:part name="parameters" element="tns:GetScenario" />
  </wsdl:message>
  <wsdl:message name="GetScenarioSoapOut">
    <wsdl:part name="parameters" element="tns:GetScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteScenarioSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteScenario" />
  </wsdl:message>
  <wsdl:message name="DeleteScenarioSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="CreateScenarioSoapIn">
    <wsdl:part name="parameters" element="tns:CreateScenario" />
  </wsdl:message>
  <wsdl:message name="CreateScenarioSoapOut">
    <wsdl:part name="parameters" element="tns:CreateScenarioResponse" />
  </wsdl:message>
  <wsdl:portType name="dsOILMAPSoap">
    <wsdl:operation name="GetVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method GetVersion returns the version number of the data services (String).</wsdl:documentation>
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method GetVersionDate returns the date of this revision (String).</wsdl:documentation>
      <wsdl:input message="tns:GetVersionDateSoapIn" />
      <wsdl:output message="tns:GetVersionDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScenarios">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method GetScenarios requires a ClientKey (String); returns all available scenarios as a string of XML.</wsdl:documentation>
      <wsdl:input message="tns:GetScenariosSoapIn" />
      <wsdl:output message="tns:GetScenariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScenariosByLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method GetScenariosByLocation requires a ClientKey (String) and Location (String); returns all scenarios with this Location as a string of XML.</wsdl:documentation>
      <wsdl:input message="tns:GetScenariosByLocationSoapIn" />
      <wsdl:output message="tns:GetScenariosByLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScenario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method GetScenario requires a ClientKey (String) and Scenario id (int); returns all scenario information as a string of XML.</wsdl:documentation>
      <wsdl:input message="tns:GetScenarioSoapIn" />
      <wsdl:output message="tns:GetScenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteScenario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method - DeleteScenario requires ClientKey (String), Scenario id (int) and Oil id (int) as input values; returns an int value indicating success or failure.</wsdl:documentation>
      <wsdl:input message="tns:DeleteScenarioSoapIn" />
      <wsdl:output message="tns:DeleteScenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateScenario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method - CreateScenario requires ClientKey (String) and input XML (String); creates the Scenario object(s); returns integer value.</wsdl:documentation>
      <wsdl:input message="tns:CreateScenarioSoapIn" />
      <wsdl:output message="tns:CreateScenarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dsOILMAPSoap" type="tns:dsOILMAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="dsOILMAP/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionDate">
      <soap:operation soapAction="dsOILMAP/GetVersionDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenarios">
      <soap:operation soapAction="dsOILMAP/GetScenarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenariosByLocation">
      <soap:operation soapAction="dsOILMAP/GetScenariosByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenario">
      <soap:operation soapAction="dsOILMAP/GetScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteScenario">
      <soap:operation soapAction="dsOILMAP/DeleteScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateScenario">
      <soap:operation soapAction="dsOILMAP/CreateScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dsOILMAPSoap12" type="tns:dsOILMAPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="dsOILMAP/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionDate">
      <soap12:operation soapAction="dsOILMAP/GetVersionDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenarios">
      <soap12:operation soapAction="dsOILMAP/GetScenarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenariosByLocation">
      <soap12:operation soapAction="dsOILMAP/GetScenariosByLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenario">
      <soap12:operation soapAction="dsOILMAP/GetScenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteScenario">
      <soap12:operation soapAction="dsOILMAP/DeleteScenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateScenario">
      <soap12:operation soapAction="dsOILMAP/CreateScenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dsOILMAP">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br /&gt;&lt;b&gt;Date: 2010-11-22&lt;/b&gt;&lt;br /&gt;&lt;b&gt;Version: 0.1.0.5&lt;/b&gt;&lt;br /&gt;&lt;b&gt;ASA Data Services for Oil Map&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;The following methods provide data services for web clients. &lt;br /&gt;</wsdl:documentation>
    <wsdl:port name="dsOILMAPSoap" binding="tns:dsOILMAPSoap">
      <soap:address location="http://staging.asascience.com/sandbox/ed/dsOilmap/ds.asmx" />
    </wsdl:port>
    <wsdl:port name="dsOILMAPSoap12" binding="tns:dsOILMAPSoap12">
      <soap12:address location="http://staging.asascience.com/sandbox/ed/dsOilmap/ds.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>